.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; /* to be changed*/
    padding: 20px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
/* the logo section */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* profile pic */
.profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    
}

.logo span {
    font-weight: bold;
    font-size: 18px;
    color: black;
}


/* naviagation links for the navbar*/
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}



.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: red;
}

.side-nav {
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 0;
    align-content: center;
}